body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.hidden {
    display: none;
}

#options p, #inputField input {
    margin-top: 20px;
}

